body {
	background: #eff1f4;
	font-family: 'Open Sans', sans-serif;
}

.header {
	background: #0c73fe;
}

.main, .information-card {
	padding: 50px;
}

.strange-filters-card {
	padding: 0px 50px;
}

.rounded-15 {
	border-radius: 1.5rem !important;
}

.custom-img {
	width: 36px;
	height: 36px;
}

.flex-basis-100 {
	flex-basis: 100%;
}

.information-card .card {
	padding: 80px 95px;
}

.information-card__image {
	background-image: url(https://www.aviasales.by/helios-assets/good-news-64ddf089577281b71628..svg);
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
}

.information-card__image.--bad {
	background-image: url(https://www.aviasales.by/helios-assets/bad-news-1923a4eacdb519a19797..svg);
}

.loader {
	margin-top: 10rem;
}

.aero-filter-img {
	width: 24px;
	height: 24px;
}